body{
  background-color: black;
  margin-top: 40px;
  margin-left: 10px;
}

span{
  margin-right: 5px;
}

p{
  color: white;
}

button{
  color: white;
  background-color:rgb(255, 123, 0);
  border: none;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
}

.js-stop-watch{
  margin-top: 10px;
}